{% extends 'base.html.twig' %}

{% block title %}connection{% endblock %}

{% block body %}
    <main class="container mt-5 pt-5">
        <div class="row justify-content-center">
            <div class="form-auth col-md-6">
                <h2 class="text-center">Se connecter</h2>
                {% if error %}
                <div class="alert alert-danger">
                {{ error.messageKey|trans(error.messageData, 'security') }}
                </div>
                {% endif %}
                <form id="registrationForm" class="form-user" action="{{ path('app_login') }}" method="POST">
                    <div class="mb-3">
                        <label for="email" class="form-label">Adresse e-mail</label>
                        <input type="email" class="form-control" id="email" name="_username" placeholder="Entrez votre e-mail" value="{{ last_username }}" required>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Mot de passe</label>
                        <input type="password" class="form-control" id="password" name="_password"placeholder="Entrez votre mot de passe" required>
                    </div>
                    <div class="mb-3 text-center">
                        <small><a href="{{ path('app_registration') }}" class="center">créer votre compte</a></small>
                    </div>
                    <div class="mb-3 text-center">
                        <small><a href="" class="center">mot de passe oublié</a></small>
                    </div>
                    <button type="submit" class="btn btn-eco btn-success w-100">Se connecter</button>
                </form>
            </div>
        </div>
    </main>
{% endblock %}
