{% extends 'base.html.twig' %}

{% block title %}Retour sur votre trajet{% endblock %}

{% block body %}
<div class="container mt-5 pt-5">
    <h1 class="text-center text-eco-green fw-bold mb-4">Comment s’est passé votre trajet ?</h1>

    <div class="card card-eco mx-auto shadow" style="max-width: 650px;">
        <div class="card-body">
            {{ form_start(form) }}

                <div class="mb-4">
                    <label for="note" class="form-label fw-bold">Note du trajet</label>
                    {{ form_widget(form.rating, {'attr': {'class': 'form-select'}}) }}
                </div>

                <div class="mb-4">
                    <label for="comment" class="form-label fw-bold">Votre commentaire</label>
                    {{ form_widget(form.comment, {'attr': {'class': 'form-control', 'rows': 4}}) }}
                </div>

                <div class="text-center d-flex justify-content-around">
                    <button type="submit" name="is_validated" value="1" class="btn btn-eco px-4 py-2"> Valider le trajet</button>
                    <button type="submit" name="is_validated" value="0" class="btn btn-danger px-4 py-2"> Signaler un problème</button>
                </div>

            {{ form_end(form) }}
        </div>
    </div>
</div>
{% endblock %}

